In [4]:
import pandas as pd
# from django.contrib.auth.models import Group

In [68]:
xl_ugcouncil = pd.read_csv("/Users/defcon/councilPartial.csv",keep_default_na=False)
xl_file_student = pd.ExcelFile("/Users/defcon/2ndYearUserData.xlsx")

In [70]:
xl_ugcouncil
for index, row in xl_ugcouncil.iterrows():
    print(row["name"])

Chetan Agarwal
Sree Theerdha
Rahul Raj
Amirneni Satakarni
Sachin Singh
Saurabh Ch. Pandey
Hemansh Kashyap
Gaurav Suryawanshi
Ujjawal Arya
Krushi Bandi
Abhinav Bhatt
Prateek Kaushal
Shubham Srivastava
Sangya Chatterjee

In [71]:
df_student = xl_file_student.parse("Second Year students",keep_default_na=False )
df_faculty_advisor = xl_file_student.parse("Faculty Advisor",keep_default_na=False)
# df_faculty_advisor['Deaprtment']=df['Deaprtment'].fillna("NA")

In [81]:
x = df_faculty_advisor.drop_duplicates(keep=False, inplace=False, subset="Name")
len(x)
for index,row in x.iterrows() : 
    print (row["Name"])

Murali Mohan Bosukonda
Gautam Poddar
Bhagirath Behera
Pradip Kumar Ray
Arnab Atta
Melinda Kumar Bera
Sarada Prasad Sarmah
Geetanjali Panda
Sandeep Saha
Dipanwita Roy Chowdhury
Suman Maiti
Sujoy Kanti Ghosh
Siddhartha Chattopadhyay
Tapas Laha
Sumantra Mandal
Sonjoy Majumder
Chetankumar Sureshbhai Mistry
Thomas E V
Arup Das
Debasis Sarkar
Anoop Ayyappan
Inder Sekhar Yadav
Sourav Mukhopadhyay
Bappaditya Bhowmik

In [28]:
depList = df_faculty_advisor.Deaprtment.unique()

In [72]:
df_faculty_advisor.columns.values.tolist()

['Name', 'Roll No/Employee code ', 'Date of Birth', 'Deaprtment', 'Rollno']

In [74]:
df_faculty_advisor.Name.unique()

array(['Partha Bhowmick', 'Murali Mohan Bosukonda', 'Debdoot Sheet',
       'Adinpunya Mitra', 'Prem Prakash Srivastav', 'Gautam Poddar',
       'Bhagirath Behera', 'Pradip Kumar Ray', 'Chirag Deepak Kalelkar',
       'Om Prakash Sha', 'Arnab Atta', 'Melinda Kumar Bera',
       'Sarada Prasad Sarmah', 'Geetanjali Panda', 'Kaushik Dey',
       'Shampa Aich', 'Mangal Roy', 'Ashoke Bhar', 'Amreesh Chandra',
       'Sandeep Saha', 'Haimanti Banerji', 'Debarghya Chakraborty',
       'Brajesh Kumar Dubey', 'Amiya Kumar Jana',
       'Dipanwita Roy Chowdhury', 'Arijit De', 'Suman Maiti',
       'Sujoy Kanti Ghosh', 'Siddhartha Chattopadhyay',
       'Rajaram Lakkaraju', 'Aditya Kumar Patra', 'Tapas Laha',
       'Sumantra Mandal', 'Ranadev Datta', 'Sonjoy Majumder',
       'Chetankumar Sureshbhai Mistry', 'Thomas E V', 'Proshanta Guha',
       'Arup Das', 'Mrinal Kumar Maiti', 'Amit Shaw',
       'Sushanta Chakraborty', 'Debasis Sarkar',
       'Sourangshu Bhattacharya', 'Rajarshi Samanta', 'Anoop Ayyappan',
       'Debashis Sen', 'Dipankar Debnath', 'Rajiv Ranjan Sahay',
       'Ravikant Vadlamani', 'Inder Sekhar Yadav', 'Sri Krishna Kumar',
       'Sourav Mukhopadhyay', 'Bappaditya Bhowmik',
       'Dhananjay Kumar Srivastava', 'Biswajit Samanta',
       'Sujoy Kumar Kar', 'Jyotsna Dutta Majumdar',
       'Anirban Bhattacharyya', 'Samudra Roy', 'Sugata Pratik Khastgir',
       'Sikha Hota', 'Srinibas Karmakar', 'Hifjur Raheman',
       'Hari Niwas Mishra', 'Shankha Pratim Bhattacharya', 'Soumya De',
       'Somdeb Bose Dasgupta', 'Venkappayya R Desai', 'Dhrubajyoti Sen',
       'Bhim Charan Meikap', 'Swati  Neogi', 'Saptarshi Ghosh',
       'Debasis Samanta', 'Modhu Sudan Maji', 'Sanjib Kumar Patra',
       'Shailendra Kumar Varshney', 'Tanmoy Bhattacharya',
       'Santanu Kapat', 'Arun Singh', 'Sudha Agrahari',
       'Bimal Kishore Sahoo', 'Jitesh J Thakkar', 'Ramakrishna Nanduri',
       'Mousumi Mandal', 'Jitendra Kumar', 'Jeevanjyoti Chakraborty',
       'Somnath Roy', 'Srikant Annavarapu', 'Abhiram Kumar Verma',
       'Tapas Kumar Bandyopadhyay', 'Sudipto Ghosh', 'Kiran Vijayan',
       'Debraj Choudhury'], dtype=object)

In [13]:
hallList = df_student.Hall.unique()

In [59]:
df_student.Deaprtment.unique()

array(['CS', 'EE', 'AG', 'HS', 'IM', 'ME', 'NA', 'CH', 'GG', 'MA', 'MI',
       'MT', 'PH', 'AE', 'AR', 'CE', 'EC', 'BT', 'CY', 'BS'], dtype=object)

In [35]:
for dep in depList :
    grpName = "dep_" + dep.lower()
    Group.objects.get_or_create(name=grpName)
    print(grpName)

NameError: name 'Group' is not defined

In [15]:
df_student

                             Name   Roll No  Date of Birth Deaprtment Hall
0                   Dibyajoti Das  11CS30012    1993-03-07         CS  RPH
1                   Mainak Sarkar  12IE10015    1993-03-16         EE  LBS
2                 Ashutosh Mimrot  13AG10006    1995-06-09         AG  MMH
3                       Sanjeev V  13AG10026    1995-08-08         AG  MMH
4                    Deepak Kumar  13CS10017    1995-01-15         CS  MMH
5              Pagilla Sri Harsha  13EE10036    1996-04-10         EE  MMH
6                  Shubham Sharma  13HS20033    1996-01-22         HS  MMH
7          Thandrala Jeevan Kumar  13IM30021    1994-08-14         IM  MMH
8     Patel Kaushal Jayeshchandra  13ME10041    1995-01-15         ME  MMH
9     Sanat Kailash Chand Hansdah  13ME30037    1994-05-25         ME  MMH
10             Chinmoy Basumatary  13NA10013    1994-03-31         NA  MMH
11                         Vishal  13NA10033    1993-01-26         NA  LBS
12                   Dibakar Bala  14AG10010    1995-11-17         AG  LBS
13              Pydi Pavan Kalyan  14AG10021    1997-08-02         AG  LBS
14                   Potu Snehith  14CH30019    1997-04-27         CH  LBS
15                   Pala Abishay  14EE30015    1996-11-18         EE  LBS
16           Manish Chandra Samad  14GG20023    1994-03-26         GG  LBS
17               Murala Dayakiran  14IE10020    1997-08-29         EE  LBS
18            Lomada Nagendra Sai  14IM30009    1997-04-29         IM  LBS
19       Sonagra Sumit Nandkishor  14MA20041    1995-05-12         MA  LBS
20                   Dinesh Kumar  14MI10012    1995-07-25         MI  LBS
21                   Mayank Singh  14MI10019    1997-10-01         MI  LBS
22              Kaligana Yaswanth  14MI31008    1997-08-12         MI  LBS
23                  Hemanth Nalla  14MT10019    1997-06-01         MT  LBS
24       Shubham Bhaskar Annapure  14MT30021    1996-11-27         MT  LBS
25                     R Ambarish  14NA10019    1996-11-29         NA  LBS
26                Kongara Gowtham  14NA30015    1996-12-15         NA  LBS
27                  Prithul Singh  14PH20024    1996-06-15         PH  LBS
28           Range Maruthi Prasad  15AE10020    1998-06-11         AE  LBS
29              Alertwell Kharmih  15AG10009    1997-11-13         AG  LBS
...                           ...        ...           ...        ...  ...
1553                    Risov Das  17PH40030    1994-03-26         PH  LBS
1554              Sebabrata Kisku  17PH40031    1997-10-23         PH  LBS
1555             Shalini Sengupta  17PH40032    1995-01-12         PH  MTH
1556          Shreyashi Mukherjee  17PH40033    1995-10-12         PH  MTH
1557              Shubham Kishore  17PH40034    1997-08-29         PH  LBS
1558                Shubham Patel  17PH40035    1996-05-28         PH  LBS
1559              Sk Md Adil Imam  17PH40036    1997-04-28         PH  LBS
1560             Sk Samim Ahammad  17PH40037    1996-09-02         PH  LBS
1561                Soumen Podder  17PH40038    1996-12-23         PH  LBS
1562                 Soumik Nandi  17PH40039    1997-04-20         PH  LBS
1563                 Soumya Ghosh  17PH40040    1996-08-01         PH  LBS
1564               Subhajit Dutta  17PH40041    1996-04-08         PH  LBS
1565               Sukanya Mallik  17PH40042    1996-02-15         PH  MTH
1566                  Tanam Kumar  17PH40043    1996-09-19         PH  LBS
1567          Upalaparna Banerjee  17PH40045    1996-09-04         PH  MTH
1568                       Vinita  17PH40046    1996-12-08         PH  MTH
1569                    Adithya S  17QD30001    2000-02-10         IM  LBS
1570            Bokka Sai Pradeep  17QE30001    1999-07-12         IM  RPH
1571                 Piyush Anand  17QE30002    1998-09-20         IM  MMH
1572                      Pushkar  17QE30003    1999-10-30         IM  MMH
1573                Rishabh Singh  17QE30004    1999-02-15         IM  LBS
1574       Simran Satyawan Vaidya  17QE30005    1999-05-07         IM  MTH
1575              Shah Neel Rohit  17QE30006    1999-01-13         IM  AZD
1576      Aniruddha Chattopadhyay  17QE30007    1998-10-11         IM  LBS
1577               Mridul Agarwal  17QE30008    1999-12-28         IM  RKH
1578            Ijas Ahmed Madari  17QM30001    1998-08-16         IM  LBS
1579               K Pranoy Kumar  17QM30002    2000-06-03         IM  LBS
1580        Mayur Raosaheb Shinde  17QM30003    1999-07-17         IM  RPH
1581             Prince Brahmenia  17QM30004    1999-06-29         IM  MMH
1582                Saransh Gupta  17QM30005    1999-02-20         IM  AZD

[1583 rows x 5 columns]

In [58]:
for index, row in df_student.iterrows():
    
    #Getting first and last name
    fullname = row["Name"]
    nameList = fullname.split(" ")
    if len(nameList) <= 1 : 
        fname = fullname
        lname = ""
    else : 
        lname = nameList.pop(-1)
        fname = " ".join(nameList)
    
    passwordString = row["Date of Birth"].date().strftime('%d/%m/%Y')
    username = row["Roll No "].upper().strip()
    
    depGrp = Group.objects.get(name="dep_"+ row['Deaprtment'].lower())
    hallGroup = Group.objects.get(name="hall_"+ row['Hall'].lower())

NameError: name 'Group' is not defined

In [45]:
fullname = "Sk"

    
print(fname)
print(lname)

1
Sk

In [98]:
import random
import string
''.join(random.choice(string.ascii_uppercase + string.digits) for _ in range(8))

'E75YORW7'